
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>Contatos</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="css/materialize.min.css"
	media="screen,projection" />

<link type="text/css" rel="stylesheet" href="css/style.css" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

	<nav class="pink darken-4 z-depth-5">
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">Agenda de Contatos</a> <a href="#"
				data-activates="mobile-demo" class="button-collapse"> <i
				class="material-icons">menu</i></a>
		</div>
	</nav>
    <div align="left">
        <form class="form-horizontal" th:object="${contato}" th:action="@{/}" method="GET" style="margin: 10px">
            <input type="text"  autofocus="autofocus" th:field="*{nome}" placeholder="Informe o nome do contato" maxlength="50"/>
            <div align="right" style="margin-bottom: 25px;">
                <button type="submit" class="btn btn-sm btn-primary">Pesquisar</button>
            </div>
        </form>
    </div>

    <div align="right">
        <a th:href="@{/add}" class="btn btn-sm btn-default">Adicionar</a>
    </div>
    <div class="grey lighten-5">
		<div class="container">
			<div class="section">
				<div class="row">
					<div class="col s12">

						<table class="responsive-table bordered highlight">
							<thead>
								<tr>
									<th data-field="id">#</th>
									<th data-field="nome">Nome</th>
									<th data-field="telefone">Telefone</th>
									<th data-field="status">Ação</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="contato : ${contatos}">
									<td class="text-center" th:text="${contato.id}">1</td>
									<td th:text="${contato.nome}"></td>
                                    <td class="text-center"><span th:text="${contato.numero}"></span> </td>
									<td class="col s-5 text-center">
										<a 
											th:href="@{/{id}(id=${contato.id})}" title="Editar"
											rel="tooltip" data-placement="top"> 
											<i class="material-icons md-18">edit</i>
										</a>
                                        <a
                                                th:href="@{/delete/{id}(id=${contato.id})}" title="Excluir"
                                                rel="tooltip" data-placement="top">
                                            <i class="material-icons md-18">delete</i>
                                        </a>
									</td>

								</tr>
								<tr>
									<td colspan="6" th:if="${#lists.isEmpty(contatos)}">Nenhum
										contato foi encontrado</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>


	<footer class="page-footer pink darken-4">
		<div class="footer-copyright pink darken-3">
			<div class="container">
				© 2018 Agenda de Contatos
			</div>
		</div>
	</footer>

	<script type="text/javascript"
		src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
	<script type="text/javascript" src="js/initi.js"></script>
</body>
</html>