<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">
    
<head>
	<title>Pedidos</title>
</head>

<section layout:fragment="conteudo">

	<div class="panel panel-default">
	
		<div class="panel-heading">
			<div class="clearfix">
	   			<h1 class="panel-title aw-titulo-panel">Pedidos</h1>
	   			<a class="btn btn-link aw-link-panel" th:href="@{/clientes}">Atualizar</a>
	   		</div>
	   	</div>
		
	   		<div class="table-responsive">
		   		<table class="table table-bordered table-striped">
		   			<thead>
		   				<tr>
		   					<th class="text-center col-md-1">#</th>
		   					<th class="col-md-1">Cliente</th>
		   					<th class="col-md-2">Estabelecimento</th>
		   					<th class="col-md-1">Endereco</th>
		   					<th class="text-center col-md-1">Bairro</th>
		   					<th class="text-center col-md-1">Telefone</th>
		   					<th class="text-center col-md-1">Data</th>
		   					<th class="text-center col-md-1">Status</th>
		   					<th class="col-md-1">Ação</th>
		   				</tr>
		   			</thead>
		   			<tbody>
		   				<tr th:each="contato : ${contatos}">
		   					<td class="text-center" th:text="${contato.id}">1</td>
		   					<td th:text="${contato.cliente}"></td>
		   					<td th:text="${contato.estabelecimento}"></td>
		   					<td th:text="${contato.endereco}"></td>
		   					<td class="text-center" th:text="${contato.bairro}"></td>
		   					<td class="text-center">
		   						<span th:text="${contato.telefone}"></span><br />
		   						<span th:text="|Zap: ${contato.whatsapp}|"></span>
		   					</td>
		   					<td class="text-center" th:text="${{contato.dataPedido}}"></td>
		   					<td class="text-center" th:attr="data-role=${contato.id}">
		   					<span class="label label-success" th:text="${{contato.status}}"
		   						th:classappend="${contato.pendente ? 'label-info'
		   						: contato.cancelado ? 'label-danger' : 'label-success'}">
		   						</span>
		   					 </td>
		   					
		   					<td class="text-center">
		   						<a class="btn btn-link btn-xs" th:href="@{/clientes/{id}(id=${contato.id})}"
		   								title="Editar" rel="tooltip" data-placement="top">
		   							<span class="glyphicon glyphicon-pencil"></span>
		   						</a>
		   						<a class="btn btn-link btn-xs js-atualizar-status" th:if="${contato.pendente}"
		   								title="Concluir" rel="tooltip" data-placement="top"
		   								th:attr="data-codigo=${contato.id}"
		   								th:href="@{/clientes/{id}/concluir(id=${contato.id})}">
		   							<span class="glyphicon glyphicon-check"></span>
		   						</a>
		   						
		   						<a class="btn btn-link btn-xs js-atualizar-status-cancelar" th:if="${contato.pendente}"
		   								title="Cancelar" rel="tooltip" data-placement="top"
		   								th:attr="data-codigo=${contato.id}"
		   								th:href="@{/clientes/{id}/cancelar(id=${contato.id})}">
		   							<span class="glyphicon glyphicon-remove"></span>
		   						</a>
		   					</td>
		   					
		   				</tr>
		   				<tr>
		   					<td colspan="6" th:if="${#lists.isEmpty(contatoes)}">Nenhum contato foi encontrado</td>
		   				</tr>
		   			</tbody>
		   		</table>
		   	</div>
	</div>   	
</section>
</html>
